.section {
    border-bottom: 2px solid black;
    margin: 10px 10px;
    padding: 10px;
}

.section__header {
    text-shadow: 2px -4px 4px rgba(5, 5, 58, 0.8);
}

.section__link {
    color: hsl(173, 37%, 28%);
    text-decoration: none;
}

.section__link:hover {
    border: 2px solid #1a1616;
    padding: 10px;
    border-radius: 30px;
    outline: none;
}

.section__link:active {
    color: darkblue;
}